* {
    box-sizing: border-box;
    color: #fff;
    font-family: "Press Start 2P";
    font-size: 8vw;
    font-weight: bold;
    text-align: center;
  }
  
  html {
    background: radial-gradient(68.34% 50% at 50% 50%, #ffc66a 0%, #e9b787 0%, #f0d890 100%);
    height: 100vh;
    padding: 50px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  html::before {
    content: 'stop';
    font-size: 30vw;
  }
  
  body {
    display: none !important;
  }