* {
    box-sizing: border-box;
    color: #fff;
    font-family: 'Press Start 2P';
    font-weight: bold;
    text-align: center;
  }
  
  body {
    margin: 0;
    padding: 0;
    background: radial-gradient(50% 50% at 50% 50%, #FFA996 0%, #FFCB90 70.83%, #FFE1A1 99.98%, rgba(255, 225, 119, 0.01) 99.99%, #FFDFA0 100%);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  h1 {
    font-size: 8vw;
  }

  p {
    font-size: 4vw;
  }