* {
    box-sizing: border-box;
    color: #fff;
    font-family: 'Press Start 2P';
    font-weight: bold;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  body {
    margin: 0;
    padding: 0;
    background: radial-gradient(50% 50% at 50% 50%, #FFA996 0%, #FFCB90 70.83%, #FFE1A1 99.98%, rgba(255, 225, 119, 0.01) 99.99%, #FFDFA0 100%);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/sparkle.png') repeat;
    opacity: 0.2; 
    z-index: -1;
    pointer-events: none;
  }

  .redirectWizard {
    position: fixed;
    bottom: 0px; 
    left: 10px; 
    z-index: -1;
    -webkit-filter: drop-shadow(4px 5px 2px #2222225e);
    filter: drop-shadow(4px 5px 2px #2222225e);
  }
  .redirectWizard img {
    width: 40vw; 
    height: auto; 
  }
  .checkWizard{
    position:fixed;
    bottom:0px;
    z-index:-1;
    -webkit-filter: drop-shadow(4px 5px 2px #2222225e);
    filter: drop-shadow(4px 5px 2px #2222225e);
  }
  .scroll{
    position: fixed;
    width: 80vw;
    height: 60vw;
    background: url('../images/scroll.png') no-repeat center;
    -webkit-filter: drop-shadow(4px 5px 2px #2222225e);
    filter: drop-shadow(4px 5px 2px #2222225e);
    background-size: 72vw;
  }
  .scroll-container{
    width: 100%;
    height: 100%;
    padding-top:18vw;
    padding-left:10vw;
    padding-bottom: 10vw;
    padding-right: 25vw;
    z-index:1;
  } 
  .time-container{
    width: 100%;
    height: 5vw;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
  }
  .shift {
    margin-top: -17vh;
  }
  .button-container{
    position: absolute;
    bottom:0;
    right:0;
    margin:10vh;
  }
  .button-container2{
    display:flex;
    flex-direction: row;
  }
  .button-container3{
    position:absolute;
    bottom:0;
    right:0; 
    margin:1vh;
  }
  button{
    display: block;
    border: none;
    padding: 4vh;
    width: 40vw;
    margin: 2vh;
    border-radius: 1vh;
    font-size: 3vw;
    font-weight: 100;
    -webkit-filter: drop-shadow(4px 5px 2px #2222225e);
    filter: drop-shadow(4px 5px 2px #2222225e);
    text-align: center;
  }

  button:hover{
    box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.40) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color:#1E1E1E;
  }
  #closeTab{  
    background-color: #8CA96F;
  }
  #closeTab:hover{
    background-color: #446425;
  }
  #necessityCheck, #yes, #proceedToPage{
    background-color: #FA7D7D;
  }
  #necessityCheck:hover,#yes:hover, #proceedToPage:hover{
    background-color: #A04444;
  }
  #proceedToPage{
    font-size: 1.5vw;
    width:28vw;
    padding:2vh;
  }
  #proceedToPage:hover{
    font-size: 1.5vw;
    padding:2vh;
    width:28vw;
  }
  h1 {
    font-size: 10vw;
    margin-bottom: 0px;
  }
  h2{
    font-size: 8vw;
    margin-bottom: 0px; 
  }
  h4{
    color:#1E1E1E;
    font-size: 1.2vw;
    text-align: left;
    margin-left: 5vw;
    margin-bottom: 2vw;
    margin-top: 10px;
  }
  h5{
    color:#1E1E1E;
    font-size: 1.5vw;
    margin: 1vw;
    margin-top: -0.5vw;
    text-align: center;
  }
  h6 {
    font-size: 1.5vw;
    font-style: italic;
    margin: 1vw;
    text-align: right;
    color: #A04444;
    display: inline-block;
  }

  p {
    font-size: 3vw;
  }
  input[type="text"] {
    width: 80%;
    height:2.5vw;
    padding: 5px;
    margin-bottom: 1.5vw;
    box-sizing: border-box;
    border: none;
    border-radius: 0.5vw;
    cursor:text;
    color:#1E1E1E;
    font-size: 1vw;
  }
  #signature{
    background-color: #f2ae61;
    color:#A04444;
    font-style: italic;
    display: inline-block;
    width: 40%;
    text-align: left;
  }
  input[type="number"] {
    font-size:1.5vw;
    height: 3vw;
    padding: 1vw;
    margin-bottom: 1.5vw;
    box-sizing: border-box;
    color: #1E1E1E;
    border: none;
    border-radius: 0.5vw;
    cursor: pointer;
  }
  .help-tip{
    display:inline-block;
    position: absolute;
    margin-left: 16vw;
    margin-top: 0.5vw;
    text-align: center;
    border: 2px solid #A04444;
    border-radius: 50%;
    width: 1.5vw;
    height: 1.5vw;
    font-size: 0.8vw;
  }
  
  .help-tip:before{
      height:50%;
      content:'?';
      margin-top: 0.3vw;
      font-weight: normal;
      color: #A04444;
      display: flex;
      justify-content:center;
      align-self: center;
  }
  
  .help-tip:hover p{
      display:block;
      transform-origin: 100% 0%;
      -webkit-animation: fadeIn 0.3s ease;
      animation: fadeIn 0.3s ease;
  }

.help-tip p {    
	display: none;
	text-align: center;
	background-color: #FFFFFF;
	padding: 1vw;
	width: 15vw;
	height: auto;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 5%);
	border-radius: 10px;
	box-shadow: 0 0px 20px 0 rgba(0,0,0,0.25);
	color: #37393D;
	font-size: 0.6vw;
  line-height: 0.7vw;
}


/* The pointer of the tooltip */
.help-tip p:before { 
	position: absolute;
	content: '';
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-bottom-color:#FFFFFF;
	top: -9px;
	left: 50%;
	transform: translate(-50%, -50%);
}

 /* Prevents the tooltip from being hidden */
.help-tip p:after {
	width: 10px;
	height: 40px;
	content:'';
	position: absolute;
	top: -40px;
	left: 0;
}

/* CSS animation */
@-webkit-keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:100%; }
}

@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:100%; }
}
